@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.passengerLabel {
  @apply text-blue-900 font-bold;
}
.passengerAgeSpan {
  @apply text-gray-400 text-xs;
}
.passengerButtonsDiv {
  @apply flex space-x-3 items-center  text-blue-900;
}
.passengerButton {
  @apply flex items-center justify-center border-2 border-blue-900 rounded-full p-2;
}

.radioLabel {
  @apply font-bold text-blue-900;
}

.inputStyle {
  @apply w-52 border border-blue-900 h-10 text-lg rounded-md p-2 focus:outline-none text-blue-900;
}

.liStyle {
  @apply p-2 hover:bg-blue-100 cursor-pointer  text-blue-900;
}

.ulStyle {
  @apply absolute z-10 bg-white border border-blue-900 w-52 max-h-40 overflow-auto;
}
